$spinner-size: 47px;
$animation-speed: 6s;
$boja: #FFCA3A;
$crna: #000;
$width: 100%;

p{
    font-family: "Oswald", sans-serif;
}

h1{
    font-family: "Oswald", sans-serif;
}
h2{
    font-family: "Oswald", sans-serif;
}
h6{
    font-family: "Oswald", sans-serif;
}
